anthropic==0.39.0
boto3==1.35.46
botocore==1.35.46
ffmpeg_python==0.2.0
pandas==2.2.3
pinecone==5.3.1
python-dotenv==1.0.1
streamlit==1.39.0
torch==2.5.0
tqdm==4.66.2
transformers==4.45.2

pip~=24.2
attrs~=24.2.0
distro~=1.9.0
wheel~=0.44.0
protobuf~=5.28.3
pillow~=10.4.0
filelock~=3.16.1
pytube~=15.0.0
ffmpeg-python~=0.2.0
Pygments~=2.18.0
requests~=2.32.3
urllib3~=2.2.3
yt-dlp~=2024.11.4
certifi~=2024.8.30
